<div *ngIf="showEditForm">
  <mat-form-field>
    <input matInput placeholder="Description" [value]="description" #itemDescription required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Assigned To" [(value)]="assignedTo" #itemAssignedTo>
      <mat-option *ngFor="let person of people | async" [(value)]="person.name">
        {{person.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox [checked]="done" (change)="changeDoneFlag($event, id)"></mat-checkbox>

  <button mat-raised-button (click)="editItem(itemDescription.value, itemAssignedTo.value)" [disabled]="!itemDescription.value">Save</button>

  <button mat-raised-button (click)="showEditForm = false">Cancel</button>
</div>

<div *ngIf="showAddForm">
  <mat-form-field>
    <input matInput placeholder="Description" #itemDescription required>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Assigned To" [(value)]="assignedTo" #itemAssignedTo>
      <mat-option *ngFor="let person of people | async" [(value)]="person.name">
        {{person.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button (click)="addItem(itemDescription.value, itemAssignedTo.value)" [disabled]="!itemDescription.value">Save</button>

  <button mat-raised-button (click)="showAddForm = false">Cancel</button>
</div>

<mat-table #table [dataSource]="todos">
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let item">{{item.description}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="assignedTo">
    <mat-header-cell *matHeaderCellDef> AssignedTo </mat-header-cell>
    <mat-cell *matCellDef="let item"> {{item.assignedTo}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="done">
    <mat-header-cell *matHeaderCellDef> Done </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <mat-checkbox [checked]="item.done" (change)="changeDoneFlag($event, item.id)"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="edit">
    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-raised-button (click)="enableEditForm(item.id, item.description, item.assignedTo, item.done)">Edit</button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="delete">
    <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
    <mat-cell *matCellDef="let item">
      <button mat-raised-button (click)="deleteToDo(item.id)">Delete</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button mat-raised-button (click)="enableAddForm()">Add new ToDo Item</button>
<mat-checkbox [(ngModel)]="showOnlyUndone" (change)="filterItems()">Show Only Undone</mat-checkbox>